import java.util.ArrayList;
import java.util.List;

public record Biome(
    int id,
    String name,
    boolean hasPrecipitation,
    double temperature,
    String temperatureModifier,
    double downFall,
    Effects effects
) {
    public static final List<Biome> ALL = new ArrayList<>({ALL_FIELD});

    @Override
    public String toString() {
        return name;
    }

    @Override
    public boolean equals(final Object o) {
        return o == this || (o instanceof Biome biome && biome.id == this.id);
    }

    @Override
    public int hashCode() {
        return id;
    }

    private static Biome add(final Biome biome) {
        ALL.add(biome);
        return biome;
    }

    public record Effects(
        int fogColor,
        Integer foliageColor,
        Integer grassColor,
        String grassColorModifier,
        String ambientSound,
        int skyColor,
        int waterColor,
        int waterFogColor,
        MoodSound moodSound,
        Music music,
        AdditionSound additionSound,
        Particle particle
    ){

        public record MoodSound(
            String sound,
            int tickDelay,
            int blockSearchExtent,
            double offSet
        ){}

        public record Music(
            int maxDelay,
            int minDelay,
            boolean replaceCurrentMusic,
            String sound
        ){}

        public record AdditionSound(
            String sound,
            double tickChance
        ){}

        public record Particle(
            String type,
            double probability
        ){}
    }

    @Override
    public boolean equals(final Object o) {
        return o == this || (o instanceof Biome biome && biome.id == this.id);
    }

    @Override
    public int hashCode() {
        return id;
    }

    public static final Biome {OBJECT_FIELD_TYPE};
}